* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
}


.site-container {
    display: flex;
    flex-direction: column;
    min-height: 55vh;
}

/* --- header --- */

header {
    height: 250px;
    position: relative;
}

/* top part of header */
#top {
    height: 200px;
    width: 100%;
    display: flex;
}

/*left */

#logo {
    flex: 1;
    max-width: 70%;
    max-height: 250px;
}

.image {
    content:url(img/logo.png);
    float: right;
    height: 200px;
    width: 300px;
    margin-right: 13.5%;
}

/* right */

#reseaux-sociaux {
    width: 30%;
    float: right;
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#reseaux-sociaux a {
    color: grey;
    float: left;
    width: 30px;
    line-height: 30px;
    display: block;
    margin: 0px;
    outline: none;
    padding: 0;
    min-height: 30px;
    height: 100%;
    overflow: visible;
    z-index: 2;
    position: relative;
    text-align: center;
    font-size: 16px;
}

#reseaux-sociaux a:hover {
    transform: scale(1.2);
}

/* bottom part */
#bottom {
    height: 50px;
    width: 100%;
}

nav {
    margin-top: 10px;
}

#navbar {
    background-color: #2c353d;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    text-align: center;
}

#menu {
    display: inline-block;
    width: auto;
    position: static;
}

#menu a {
    color:lightgrey;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

#menu a:hover {
    color: #fff;
}

/* --- bouton connexion --- */

input {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
    border: none;
    margin-bottom: 15px;
}

button {
    font-family: 'open sans', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 3px;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #007cba;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    transition: all .4s;  
    border: none;  
    text-decoration: none;
}
  
button:hover {
    background: #fff;
    text-decoration: none;
    color: #007cba;
    border: solid;
    border-width: 2px;
    border-color: #007cba;
    cursor: pointer;
}

/* --- formulaire de connexion --- */

main {
    background-color: #007cba;
}

form {
    max-width: 480px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-top: 25px;
    border-radius: 10px;
    border-width: 100%;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    -moz-box-shadow: 0px 1px 5px 0px #656565;
    -webkit-box-shadow: 0px 1px 5px 0px #656565;
    -o-box-shadow: 0px 1px 5px 0px #656565;
    box-shadow: 0px 1px 5px 0px #656565;
}

form h3 {
    text-align: center;
    color: #007cba;
    font-family: Poppins-Bold;
    font-size: 24px;

    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 54px;
}

/* --- footer --- */
/* ------ whole footer ------ */
.footer-distributed {
	background: #fff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 18px sans-serif;
	padding: 45px 50px;
}

/* ------ left part of the footer ------ */
.footer-distributed .footer-left p{
	color: #007cba;
	font-size: 18px;
	margin: 0;
}

/* links (Home, About, Your Turn!) - disposition + writing style */
.footer-distributed p.footer-links{
	font-size:20px;
	font-weight: bold;
	color:  #007cba;
	margin: 0 0 10px;
  	padding: 0;
}

.footer-distributed p.footer-links a {
	display:inline-block;
	line-height: 1.8;
	position: relative;
	color: #007cba;
	text-decoration: none;
}

/* underline animation */
.footer-distributed p.footer-links > a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #007cba;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}

.footer-distributed p.footer-links > a:hover::before {
	visibility: visible;
	transform: scaleX(1);
}

/* ------ right part of the footer ------ */
.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 200px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 40px;
	height: 38px;
	background-color:  #007cba;
	border-radius: 4px;

	font-size: 25px;
	color: #fff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
	padding-top: 3px;
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  transition: all 0.4s;
}

/* ------ MEDIA QUERIES ------ */
@media (max-width: 800px) {

	.footer-distributed .footer-left, .footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}
